#api-logo {
    padding: 1em .2em;
    width: 200px;
    background-color: #a94442;
    color: white;
    font-size: 5em;
    border-radius: 100%;
    line-height: 4em;
}

#nav-bar-logo {
    height: 100px;
}

#header {
    background-color: #1A237E;
}

#header a, #header a:visited, #header a:hover {
    color: #fff;
}

#header .nav>li>a:focus,
#header .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,.2);
}

#header .nav .open>a,
#header .nav .open>a:focus,
#header .nav .open>a:hover {
    background-color: rgba(0,0,0,.2);
    border-color: #337ab7;
}

#header .dropdown-menu {
    background-color: darkslategrey;
}

#header .dropdown-menu>li>a:focus,
#header .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: darkgreen;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: .9em;
    padding: 20px 0 20px 0;
    margin-top: 50px;
}

#footer h1, #footer h2, #footer h3, #footer h4 {
    color: #fff;
}

/*
Botones
*/

.btn-icon {
    border: 1px solid lightgray;
    width: 120px;
}

.btn-icon img {
    width: 100%;
    padding: 5px;
}